name: Changesets

on:
    push:
        branches:
            - main

permissions:
    contents: write
    pull-requests: write
    id-token: write

jobs:
    version:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Install pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Build package
              run: pnpm run build:package

            - name: Create Release Pull Request or Publish
              uses: changesets/action@v1
              with:
                  version: pnpm --filter better-themes run changeset:version
                  publish: pnpm --filter better-themes run changeset:publish
                  commit: "chore: :bookmark: version packages"
                  title: "chore: :bookmark: version packages"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
